.list__visible {
  opacity: 0;
  animation: appear 1s ease 0s 1 normal forwards;
  /* animation: name | duration | timing-function | delay | iteration-count | direction | fill-mode */
}

.search__visible {
  animation: appear-n-scale 1s ease 0s 1 normal forwards;
}

.smooth__bg {
  animation: appear 1s ease-in 0s 1 normal forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear-n-scale {
  0% {
    right: 50%;
    opacity: 0;
    width: 20%;
  }
  20% {
    opacity: 0.2;
    width: 120%;
  }
  100% {
    right: 100%;
    opacity: 1;
    width: 200%;
  }
}
