/* FOOTER */
footer {
  padding: 3%;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.socials {
  width: 70%;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials i {
  cursor: pointer;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.links a {
  width: 45%;
  padding: 1%;
  color: #808080;
  font-size: 0.8rem;
  cursor: pointer;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.socials,
footer button,
footer p {
  align-self: flex-start;
}

footer button {
  margin-left: 4%;
  padding: 2%;
  color: #808080;
  border: none;
  border: 1px solid #808080;
  background-color: transparent;
}

footer button:hover {
  color: #fff;
}

footer p {
  width: 100%;
  padding: 1%;
  margin: 1% 0 3%;
  font-size: 0.9rem;
  color: #808080;
  text-align: right;
}

footer a {
  color: #808080;
}

/* GENERAL */
.hidden {
  position: absolute;
  visibility: hidden;
}

.trasnparent {
  opacity: 0;
}

.clear {
  display: none;
}

@media (min-width: 700px) {
  .socials {
    width: 30%;
    margin: 1%;
    padding: 0 4%;
  }

  .links {
    margin: 1%;
  }

  .links a {
    width: 30%;
  }

  footer button {
    margin: 1% 0 1% 4%;
    padding: 1%;
  }
}

@media (min-width: 1000px) {
  .links a {
    width: 25%;
    font-size: 0.8rem;
  }
}
