/* HIGHLIGHT */
.highlight {
  width: 100vw;
  padding: 10% 5%;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  z-index: 0;
  position: absolute;
  top: 0;
}

.highlight__bg {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100.2%;
  transform: translateX(-0.1%);
  background-image: url("../img/movies/love_death_robots.png");
  background-size: cover;
  background-position: center;
  position: absolute;
}

.highlight img {
  margin: 1% 0;
  width: 60%;
  position: relative;
  z-index: 2;
}

.highlight__title {
  margin: 2% 0 0;
  font-weight: 400;
  font-size: 0.9rem;
  position: relative;
  z-index: 2;
}

.highlight__sinopsis {
  margin: 1% 0 2%;
  border: 1px solid transparent;
  position: relative;
  z-index: 2;
}

.highlight__sinopsis p {
  width: 70%;
  font-weight: 300;
  font-size: 0.7rem;
}

.highlight__btns {
  margin: 1% 0;
  position: relative;
  z-index: 2;
}

.highlight__btns button {
  padding: 2% 5%;
  font-size: 0.7rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hl__btn--one {
  background-color: #fff;
}

.hl__btn--two {
  color: #fff;
  background-color: #fff5;
  backdrop-filter: blur(5px);
}

.highlight__rating {
  margin-bottom: 4%;
  display: flex;
  justify-content: end;
  position: relative;
  z-index: 2;
}

.highlight__rating p {
  right: -6%;
  width: 15%;
  padding-left: 2%;
  font-size: 0.7rem;
  font-weight: 500;
  position: absolute;
  border-left: 4px solid white;
  background-color: #fff5;
}

@media (min-width: 700px) {
  .highlight img {
    max-width: 420px;
  }

  .highlight__title {
    margin: 1% 0 0;
    font-size: 1rem;
  }

  .highlight__sinopsis p {
    width: 40%;
    font-size: 0.9rem;
  }

  .highlight__btns button {
    margin: 0 1%;
    padding: 1% 5%;
    font-size: 0.9rem;
  }

  .highlight__rating {
    margin-bottom: 2%;
  }

  .highlight__rating p {
    padding: 1%;
    font-size: 00.8rem;
  }
}
