/* IMPORTS */
@import "./reset.css";
@import "./animations.css";
@import "./header.css";
@import "./highlight.css";
@import "./footer.css";

/* BODY */
body {
  color: #fff;
  background-color: #141414;
}

/* MAIN */
main {
  padding-top: 50%;
}

/* SECTIONS */
section {
  padding-left: 3%;
}

.list {
  margin-bottom: 5%;
  position: relative;
  z-index: 1;
}

.list__title {
  width: 100%;
  padding: 1% 0;
  font-size: 0.8rem;
}

.list__options {
  height: 20vh;

  gap: 1.5%;
  display: flex;
  overflow: scroll;
}

.list__options img {
  cursor: pointer;
}

@media (min-width: 700px) {
  .list {
    margin-bottom: 3%;
  }
}

@media (min-width: 1000px) {
  main {
    padding-top: 45%;
  }

  .list {
    margin-bottom: 1%;
  }
}

@media (min-width: 1280px) {
  main {
    padding-top: 40%;
  }
}

@media (min-width: 1400px) {
  main {
    padding-top: 35%;
  }

  .list {
    margin-bottom: 0.5%;
  }
}
