/* IMPORTS */
@import "./reset.css";
@import "./animations.css";
@import "./header.css";
@import "./highlight.css";
@import "./footer.css";

/* BODY */
body {
  color: #fff;
  background-color: #141414;
}

/* MAIN */
main {
  padding-top: 75%;
}

/* SECTIONS */
.list {
  position: relative;
  z-index: 1;
}

.list__title {
  width: 100vw;
  padding: 1% 3%;
  font-size: 0.8rem;
}

.list__options {
  height: 20vh;
  margin-bottom: 5%;
  gap: 1.5%;
  display: flex;
  overflow: scroll;
}
